.product-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: auto;
    justify-content: center;
    gap: 3px;
}

h2 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}