nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.nav-home,
.nav-icons {
    display: flex;
    align-items: center;
}

.nav-link img {
    width: 1.5rem;
    height: auto;
    margin-right: 1rem;
}

.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.logo-link img {
    width: 4rem;
    height: auto;
    padding: none;
    margin: 0;
}