nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.nav-link img {
    width: 1.5rem;
    height: auto;
    padding-right: 0rem;
    margin-right: 1rem;
}

.logo-link img {
    width: 4rem;
    height: auto;
    padding: none;
    margin: 0;
}

nav .logo-link {
    flex-grow: 1;
    text-align: center;
}