.homepage-video {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

#backgroundVideo {
    width: 100%;
    height: auto;
}

.homepage-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
}

.title,
.description {
    margin: 0;
    animation: lightson .5s ease 3 forwards;
    animation-iteration-count: 1;
    font-family: 'Playfair Display', serif;
}

.homepage-title a {
    text-decoration: none;
    color: white;
}

@keyframes lightson {
    0% {
        opacity: 0;
        text-shadow: 0 0 10px rgb(0, 0, 0);
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 10px rgb(0, 0, 0),
            0 0 20px rgb(0, 0, 0),
            0 0 30px rgb(0, 0, 0);
    }
}

.sections {
    display: flex;
    justify-content: space-around;
    background-color: white;
    font-family: 'Playfair Display', serif;
}

.section {
    position: relative;
    text-align: center;
    margin-top: 0.5rem;
    width: 24.5%;
}

.section img {
    width: 100%;
    height: auto;
}

.section-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.section h2 {
    font-size: 1rem;
    margin: 0;
}

.section:hover {
    box-shadow: 1rem rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}