.page-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.homeButton {
    width: 20rem;
    height: auto;
    font-size: 1rem;
    background-color: black;
}

.homeButton a {
    text-decoration: none;
    color: white;
}

.errorImage {
    width: auto;
    height: 40rem;
}
